/* доп товары */

.additionally {
  overflow: hidden;
}

.additionally__wrapper {
  padding-top: 25px;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-left: 7.7%;
    margin-right: 7.8%;
    padding-top: 76px;
    padding-bottom: 88px;
  }
}

/* заголовок */

.additionally__title {
  @include fonts(24px, 400, "Oswald");
  position: relative;
  max-width: 226px;
  margin: 0 0 35px 6.25%;
  padding-right: 22px;
  line-height: 24px;
  color: $basic-black;

  &::after {
    position: absolute;
    content: "";
    left: 100%;
    top: 14px;
    width: 100vw;
    height: 3px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    max-width: 338px;
    margin: 0 0 79px 8.7%;
    padding-top: 20px;
    padding-right: 36px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 40px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 40px;
      right: 100%;
      width: 100vw;
      height: 3px;
      margin-right: 40px;
      background-color: $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 79px;
    padding: 0;
    padding-right: 35px;

    &::after {
      top: 22px;
    }

    &::before {
      top: 22px;
      width: 70px;
    }
  }
}

/* карточки */

.additionally__goods-preview {
  width: 87.5%;
  margin-left: 6.25%;
  margin-right: 6.25%;

  @media (min-width: $tablet-width) {
    width: 92.18%;
    margin: 0 auto;
  }
}

.additionally__goods {
  padding-top: 13px;
  padding-bottom: 17px;
  border-top: 1px solid $border-goods;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 5.15% 27px 5.22%;
    border: 1px solid $border-goods;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    flex-wrap: nowrap;
    padding: 15px 0 17px 2px;
    border: none;
    border-top: 1px solid $border-goods;
  }
}

.additionally__goods-last {
  border-bottom: 1px solid $border-goods;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

/* кнопка */

.additionally__table-link {
  @include button;
  font-size: 16px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: $basic-white;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding-left: 10.4%;
    padding-right: 10.4%;
  }
}

/* бонус */

.additionally__bonus {
  width: 100%;
  margin: 40px auto 0;
  padding-top: 57px;
  padding-bottom: 41px;
  text-align: center;
  background: url("../img/main/cat-in-a-case-mob@1x.jpg") no-repeat;
  background-color: $basic-green;
  background-position: top center;
  background-size: 280px 289px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main/cat-in-a-case-mob@2x.jpg");
    background-size: 280px 289px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 auto;
    padding-top: 57px;
    padding-bottom: 13px;
    background: url("../img/main/cat-in-a-case-tab@1x.jpg") no-repeat;
    background-color: $basic-green;
    background-position: top center;
    background-size: 708px 200px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/cat-in-a-case-tab@2x.jpg");
      background-size: 708px 200px;
    }
  }

  @media (min-width: $desktop-width) {
    display: block;
    background: url("../img/main/cat-in-a-case-desk@1x.jpg") no-repeat;
    background-color: $basic-green;
    background-position: top center;
    background-size: 245px 289px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/cat-in-a-case-desk@2x.jpg");
      background-size: 245px 289px;
    }
  }
}

.additionally__bonus svg {
  display: block;
  width: 78px;
  height: 80px;
  margin: 0 auto 50px;

  @media (min-width: $tablet-width) {
    margin-left: 11%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 34%;
    margin-bottom: 36px;
  }
}

/* бонусный текст */

.additionally__text {
  @include fonts(16px, 400, "Arial");
  width: 58%;
  margin: 0 auto;
  line-height: 20px;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-top: 15px;
    padding-left: 15px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    text-align: center;
  }
}

/* ГРИДЫ ничего и не буду, все отлично работает */

@media (min-width: $desktop-width) {
  .additionally__goods-preview {
    display: grid;
    grid-template-columns: 894px 245px;
    grid-template-rows: 72px 72px 72px 72px;
    grid-gap: 0 80px;
    width: 1220px;
  }

  .additionally__goods:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .additionally__goods:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .additionally__goods:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .additionally__goods:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .additionally__bonus {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
  }
}
