.additionally__wrapper {
  padding-bottom: 35px;
}

.additionally__title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;

  &::after {
    position: absolute;
    content: "";
    top: 15px;
    width: 53px;
    height: 3px;
    background-color: $basic-green;
  }
}

.additionally__goods {
  border-top: 1px solid $border-goods;
}

.additionally__table-link {
  @include fonts(16px, 400, "Oswald");
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-green;
  border: none;
}

.additionally__bonus {
  padding-top: 58px;
  padding-bottom: 43px;
  width: 280px;
  background: url("../../img/main/cat-in-a-case.jpg") no-repeat;
  background-color: $basic-green;
  background-position: 0 0;
  background-size: 280px 289px;/*собрать в одну кучу бэки*/
}

.additionally__text {
  @include fonts(16px, 400, "Arial");
  line-height: 20px;
  color: $basic-white;
}
