.cats__list,
.cats__control-list {
  @include list-style;
}

.cats__list {
  margin-bottom: 27px;
}

.cats__control-label {
  font-size: 16px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
}
