.contacts-form {
  background-color: $basic-grey;
}

.contacts__wrapper {
  padding-top: 28px;
}

.contacts__info {
  margin-bottom: 28px;
}

.contacts__title {
  font-size: 16px;
  line-height: 18px;
  color: $basic-black;
  text-transform: uppercase;
  outline: 2px solid rgba(195, 247, 54, 0.8);
  outline-offset: -3px;
}

.contacts__text {
  @include fonts(14px, 400, "Arial");
  line-height: 20px;
  outline: 2px solid rgba(180, 110, 212, 0.8);
  outline-offset: -3px;
}

.contacts__map-wrapper {
  background-color: $basic-grey;
  width: 320px;
  height: 362px;
}
