.form__wrapper {
  padding-bottom: 32px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 70px;
    justify-content: space-between;
  }
}

.form__fieldset {
  width: 280px;
  margin: 0 auto;
  padding: 0 0 20px;/*пусть пока будет*/
  border: 0;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-left: 70px;
    margin-right: 70px;
    padding-bottom: 70px;/*пока так*/
  }

  @media (min-width: $desktop-width) {
    min-width: 569px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 0;
  }
}

/* Информация о коте */

.form__item {
  display: flex;
  margin: 0;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    margin: 0 0 11px;
    padding-top: 10px;
  }
}

/* Вид программы */

.form__program {
  border-top: 1px solid $border-social;
  border-bottom: 1px solid $border-social;

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
    border: 1px solid $border-input;
  }

  @media (min-width: $desktop-width) {
    min-height: 196px;
    margin-top: 10px;
    padding-bottom: 10px;
  }
}

.form__program-list {
  @include list-style;
  padding: 28px 0 5px 45px;

  @media (min-width: $tablet-width) {
    padding-left: 88px;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 0 0 86px;
  }
}

.form__program-list input:checked ~ .form__program-label::before {
  box-shadow: inset 0 0 0 8px $basic-white, inset 0 0 0 17px $basic-green;

  @media (min-width: $tablet-width) {
    box-shadow: inset 0 0 0 10px $basic-white, inset 0 0 0 22px $basic-green;
  }
}

.form__program-item:not(:last-child) {
  margin-bottom: 19px;

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.form__program-label {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -46px;
    width: 30px;
    height: 30px;
    background-color: $basic-white;
    border: 1px solid $border-goods;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      top: -3px;
      left: -66px;
      width: 40px;
      height: 40px;
      background-color: $basic-white;
      border: 1px solid $border-goods;
      border-radius: 50%;
    }
  }
}

/* Контактные данные */

.form__legend {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;

  &::after { /* зеленая полоска справа */
    position: absolute;
    content: "";
    top: 15px;
    right: -20px;
    height: 3px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 21px;
      left: 554px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    &::before { /* зеленая полоска слева */
      position: absolute;
      content: "";
      top: 21px;
      left: -70px;
      height: 3px;
      background-color: $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    &::before { /* зеленая полоска слева */
      left: -110px;
    }
  }
}

.form__contacts {
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    margin-top: 75px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 69px;
    padding-bottom: 67px;
  }
}

.form__contacts-legend {
  margin-bottom: 22px;

  &::after {
    width: 99px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;

    &::after {
      width: 145px;
    }

    &::before {
      width: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;

    &::after {
      width: 776px;
    }

    &::before {
      width: 70px;
    }
  }
}

.form__contacts-item {
  position: relative;
  display: flex;

  @media (min-width: $desktop-width) {
    min-width: 569px;
    margin-bottom: 0;
  }
}

.form__icon {
  position: absolute;
  top: 30px;
  right: 16px;
}

/* Комментарий */

.form__comment {
  @media (min-width: $tablet-width) {
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;/* вроде дичь какая-то */
  }
}

.form__comment-legend {
  width: 280px;
  margin-bottom: 37px;

  &::after {
    width: 158px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;

    &::after {
      left: 218px;
      width: 478px;
    }

    &::before {
      width: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;

    &::after {
      left: 218px;
      width: 1108px;
    }

    &::before {
      width: 70px;
    }
  }
}

.form__comment-input {
  width: 100%;
  height: 150px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    height: 174px;
  }
}

/* Дополнительно */

.form__complementary {
  @media (min-width: $tablet-width) {
    padding-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;/* тоже дичь */
    padding-bottom: 61px;
  }
}

.form__complementary-legend {
  width: 280px;

  &::after {
    width: 136px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: 250px;
      width: 446px;
    }

    &::before {
      width: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      left: 250px;
      width: 1078px;
    }

    &::before {
      width: 70px;
    }
  }
}

.form__complementary-list {
  @include list-style;
  padding: 39px 0 21px 46px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 10px;
    padding-left: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    padding-bottom: 0;
  }
}

.form__complementary-item {
  @media (min-width: $tablet-width) {
    width: 200px;
  }
}

.form__complementary-item:not(:last-child) {
  margin-bottom: 25px;
}

.form__complementary-item:nth-child(1),
.form__complementary-item:nth-child(2) {
  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }
}


.form__complementary-label {
  position: relative;
  color: $basic-black;

  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -46px;
    width: 30px;
    height: 30px;
    background-color: $basic-white;
    border: 1px solid $special-grey;
  }

  @media (min-width: $tablet-width) {
    &::before {
      left: -59px;
      width: 40px;
      height: 40px;
    }
  }
}

.form__label {
  margin-top: 13px;
  margin-right: 13px;/*на глаз*/
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input {
  min-height: 45px;
  padding-left: 16px;
  padding-top: 3px;
  border: 1px solid $border-input;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-top: 8px;
  }

  &::placeholder {
    @include fonts(16px, 400, "Oswald");
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 30px;
    }
  }
}

/* кнопка */

.form__button-wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    width: auto;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-left: 40px;
    margin-bottom: 40px;
  }
}

.form__button { /* андрей, сделай наконец-то миксин */
  @include fonts(16px, 400, "Oswald");
  display: block;
  width: 100%;
  margin-bottom: 21px;
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-green;
  border: none;

  @media (min-width: $tablet-width) {
    width: 282px;
    margin-bottom: 0;
    padding: 13px 45px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

/* Обязательные поля */

.form__field {
  @include fonts(14px, 400, "Arial");
  margin: 0 auto;
  line-height: 16px;
  text-align: center;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    padding-top: 10px;/*на глаз*/
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 470px;
    text-align: left;
  }
}
