.form__wrapper {
  padding-bottom: 32px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 42px;
    justify-content: space-between;
  }
}

.form__fieldset {
  width: 87.5%;
  margin: 0 auto;
  padding: 0 0 23px;
  border: 0;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-left: 9%;
    margin-right: 8.7%;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    min-width: 569px;
    padding: 0;
    margin: 0;
  }
}

/* Информация о коте */

.form__item {
  display: flex;
  margin: 0;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    margin: 0 0 11px;
    padding-top: 8px;
  }
}

.form__characteristic {
  @media (min-width: $desktop-width) {
    margin-left: 19.4%;
  }
}

.form__characteristic-item:nth-of-type(2) {
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 11px;
  }
}

/* Вид программы */

.form__program-wrapper {
  border-top: 1px solid $border-social;
  border-bottom: 1px solid $border-social;

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.form__program {
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    margin-bottom: 35px;
    padding-bottom: 22px;
    border: 1px solid $border-input;
  }

  @media (min-width: $desktop-width) {
    min-height: 196px;
    margin-top: 10px;
    margin-right: 110px;
    padding-bottom: 0;
  }
}

.form__program-list {
  @include list-style;
  padding: 28px 0 5px 45px;

  @media (min-width: $tablet-width) {
    padding-left: 88px;
  }

  @media (min-width: $desktop-width) {
    padding: 29px 0 0 86px;
  }
}

.form__program-list input:checked ~ .form__program-label::before {
  box-shadow: inset 0 0 0 8px $basic-white, inset 0 0 0 17px $basic-green;

  @media (min-width: $tablet-width) {
    box-shadow: inset 0 0 0 10px $basic-white, inset 0 0 0 22px $basic-green;
  }
}

.form__program-item:not(:last-child) {
  margin-bottom: 24px;

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.form__program-label {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -4px;
    left: -46px;
    width: 30px;
    height: 30px;
    background-color: $basic-white;
    border: 1px solid $border-goods;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      top: -7px;
      left: -62px;
      width: 40px;
      height: 40px;
      background-color: $basic-white;
      border: 1px solid $border-goods;
      border-radius: 50%;
    }
  }
}

/* Контактные данные */

.form__legend {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;

  &::after {
    position: absolute;
    content: "";
    left: 100%;
    top: 15px;
    width: 100vw;
    height: 3px;
    background-color: #68b738;

    @media (min-width: $tablet-width) {
      top: 21px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    &::before {
      position: absolute;
      content: "";
      top: 21px;
      right: 100%;
      width: 100vw;
      height: 3px;
      background-color: $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      left: -110px;
    }
  }
}

/* Контактная инфа */

@media (min-width: $desktop-width) {
  .form__contacts-wrapper {
    margin-left: 7.6%;
    margin-right: 7.6%;
  }
}

.form__contacts {
  margin-top: 26px;
  padding-bottom: 25px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 1220px;
    margin-top: 32px;
    padding-bottom: 59px;
  }
}

.form__contacts-legend {
  max-width: 187px;
  margin-bottom: 22px;
  padding: 0;
  padding-right: 14px;

  @media (min-width: $tablet-width) {
    max-width: 512px;
    margin-bottom: 68px;
    padding-right: 42px;

    &::before {
      margin-right: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 70px;
    }
  }
}

.form__contacts-item {
  position: relative;
  display: flex;

  @media (min-width: $desktop-width) {
    min-width: 569px;
    margin-bottom: 8px;
  }
}

.form__icon {
  position: absolute;

  &--email {
    top: 29px;
    right: 5.3%;
  }

  &--phone {
    top: 27px;
    right: 4.6%;
  }

  @media (min-width: $tablet-width) {
    top: 25px;
    right: 2.7%;
  }
}

/* Комментарий */

@media (min-width: $desktop-width) {
  .form__comment-wrapper {
    margin-left: 7.6%;
    margin-right: 7.6%;
  }
}

.form__comment {
  padding-bottom: 21px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
  }
}

.form__comment-legend {
  max-width: 121px;
  margin-bottom: 38px;
  padding-right: 22px;
  padding-left: 1px;

  @media (min-width: $tablet-width) {
    max-width: 182px;
    margin-bottom: 75px;
    padding: 0;
    padding-right: 40px;

    &::before {
      margin-right: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;

    &::before {
      width: 70px;
    }
  }
}

/* Дополнительно */

@media (min-width: $desktop-width) {
  .form__complementary-wrapper {
    margin-left: 7.6%;
    margin-right: 7.6%;
  }
}

.form__complementary {
  padding-bottom: 26px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding-bottom: 25px;
  }
}

.form__complementary-legend {
  max-width: 141px;
  padding-right: 23px;
  padding-left: 1px;

  @media (min-width: $tablet-width) {
    max-width: 211px;
    padding-right: 40px;

    &::before {
      margin-right: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 70px;
    }
  }
}

.form__complementary-list {
  @include list-style;
  padding: 39px 0 14px 16.9%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 62px 4.6% 10px 9.5%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 4.9%;
    padding-bottom: 0;
  }
}

.form__complementary-item {
  @media (min-width: $tablet-width) {
    width: 200px;
  }
}

.form__complementary-item:not(:last-child) {
  margin-bottom: 23px;
}

.form__complementary-item:nth-child(1),
.form__complementary-item:nth-child(2) {
  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.form__complementary-item:nth-child(3) {
  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.form__complementary-item:last-child {
  @media (min-width: $desktop-width) {
    margin-right: -70px;
  }
}


.form__complementary-label {
  position: relative;
  color: $basic-black;

  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -47px;
    width: 30px;
    height: 30px;
    background-color: $basic-white;
    border: 1px solid $special-grey;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: -18%;
      left: -59px;
      width: 40px;
      height: 40px;
    }
  }
}

.form__label {
  margin-top: 13px;
  margin-right: 4.7%;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    margin-right: 2.7%;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label[for="weight"] {/*внутренний перфекционист негодует*/
  margin-right: 6%;

  @media (min-width: $tablet-width) {
    margin-right: 3.1%;
  }
}

.form__label[for="email"] {
  margin-right: 4%;

  @media (min-width: $tablet-width) {
    margin-right: 3.2%;
  }

  @media (min-width: $desktop-width) {
    margin-right: 3.9%;
  }
}

.form__label[for="tel"] {
  margin-right: 3.3%;

  @media (min-width: $tablet-width) {
    margin-right: 2.3%;
  }
}

.form__input {
  min-height: 45px;
  padding-left: 5.2%;
  padding-top: 5px;
  box-sizing: border-box;
  border: 1px solid $border-input;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    min-height: 52px;
    padding-left: 3.2%;
    padding-top: 8px;
    letter-spacing: 1px;
  }

  &::placeholder {
    @include fonts(16px, 400, "Oswald");
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 30px;
    }
  }
}

.form__comment-input {
  width: 100%;
  height: 150px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    height: 174px;
    padding-top: 10px;
    padding-left: 3%;
  }

  @media (min-width: $desktop-width) {
    height: 174px;
    padding-left: 1.5%;
  }
}

.form__input[type="tel"] {
  padding-top: 8px;
}

/* кнопка */

.form__button-wrapper {
  width: 87.5%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    width: auto;
    margin-bottom: 41px;
    margin-left: 9.2%;
    margin-right: 9%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-left: 7.6%;
    margin-right: 7.6%;
    margin-bottom: 40px;
  }
}

.form__button { /* андрей сделал миксин :D */
  @include button;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 16px;
  color: $basic-white;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 45%;
    margin-bottom: 0;
    padding: 2.5% 7.7%;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    padding: 1.3% 7.7%;
  }
}

/* Обязательные поля */

.form__field {
  @include fonts(14px, 400, "Arial");
  margin: 0 auto;
  line-height: 16px;
  text-align: center;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-left: 9.7%;
    padding-top: 16px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 470px;
    margin-left: 6.8%;
    padding-top: 18px;
    text-align: left;
  }
}
