/* кнопки */

.main-nav__toggle {
  position: absolute;
  display: block;
  top: 25px;
  right: 7.5%;
  width: 24px;
  height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  top: -2px;
  left: 18%;
  width: 24px;
  height: 2px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 25px;
  right: 20px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 6px;
    left: -1px;
    width: 25px;
    height: 2px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

/* обертка навигации */

.main-nav__wrapper {
  @include fonts(20px, 500, "Oswald");
  width: auto;
  text-transform: uppercase;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    @include fonts(18px, 400);
    min-width: 440px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    @include fonts(20px, 400);
    min-width: 480px;
    padding-top: 29px;
    line-height: 30px;
  }
}

/* список лишек */

.main-nav {
  @media (min-width: $tablet-width) {
    padding-right: 3.9%;
  }

  @media (min-width: $desktop-width) {
    padding-right: 7.6%;
  }
}

.main-nav__list {
  @include list-style;
  border-top: 1px solid $border-logo;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding-top: 42px;
    border: 0;
  }
}

/* лишки */

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-logo;

  &:hover:not(.main-nav__item--current) {
    opacity: 0.6;
  }

  &:active:not(.main-nav__item--current) {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    border: 0;
  }
}

.main-nav__item--current {
  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -8px;
      width: 100%;
      height: 2px;
      background-color: $basic-green;

      @media (min-width: $desktop-width) {
        bottom: -6px;
      }
    }
  }
}

.main-nav__item--white.main-nav__item--current {
  &::after {
    @media (min-width: $desktop-width) {
      background-color: $basic-white;
    }
  }
}

/* ссылки */

.main-nav__item a {
  display: block;
  text-align: center;
  color: $basic-black;
}

.main-nav__item--white a {
  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}
