.main-nav {
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 720px;
  }
}

/* кнопки */

.main-nav__toggle {
  background-color: transparent;
  /*border: 0;*/

  @media (min-width: $tablet-width) {
    display: none;
  }
}

/* обертка навигации */

.main-nav__wrapper {
  @include fonts(20px, 500, "Oswald");
  line-height: 20px;

  @media (min-width: $tablet-width) {
    @include fonts(18px, 400);
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    @include fonts(20px, 400);
    line-height: 30px;
  }
}

/* список лишек */

.main-nav__list {
  @include list-style;
  border-top: 1px solid $border-logo;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding-top: 42px;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
  }
}

/* лишки */

.main-nav__item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-logo;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: 0;
  }
}

/* ссылки */

.main-nav__item a {
  display: block;
  text-align: center;
  color: $basic-black;

  @media (min-width: $desktop-width) {
    /*color: $basic-white;*/
  }
}
