.page-footer__wrapper {
  padding-top: 39px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 55px 30px 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px 58px;
  }
}

/* обертка лого */

.page-footer__logo {
  margin: 0 auto 32px;
  width: 128px;
  height: 24px;

  @media (min-width: $tablet-width) {
    margin: 30px 0 0;
  }
}

/* обертка копирайта */

.page-footer__copyright {
  padding-top: 22px;
  padding-left: 19px;
  padding-right: 20px;
}
