/* вся голова */

.page-header {
  position: relative;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 768px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
  }
}

/* логотип */

.page-header__logo-wrapper {
  width: 320px;
  height: 65px;

  @media (min-width: $tablet-width) {
    width: 174px;
  }
}

.page-header__logo {
  display: block;
  width: 190px;
  height: 38px;
  margin-left: 6.25%;
  padding-top: 13px;
}
