.page {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: $basic-white;
  color: $special-dark-grey;
}
