.page-main__title {
  margin-bottom: 37px;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
}

.page-main__title-catalog {
  margin-bottom: 41px;
}

.page-main__text {
  margin-bottom: 39px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-black;
}
