.page-main__title {
  color: $basic-black;
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  margin-bottom: 37px;
}

.page-main__text {
  color: $basic-black;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 39px;
}
