/* вся голова */

.page-header {
  position: relative;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 768px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-bottom: 31px;
  }
}

/* логотип */

.page-header__logo-wrapper {
  width: 320px;
  height: 65px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin-left: 3.9%;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    margin-left: 7.6%;
  }
}

.page-header__logo {
  display: block;
  width: 190px;
  height: 38px;
  margin-left: 6.25%;
  padding-top: 13px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    margin: 0;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    padding-top: 55px;
  }
}

.page-header__logo-image {
  @media (min-width: $tablet-width) {
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
