.page-footer__wrapper {
  padding-top: 40px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 40px 3.9% 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 44px 7.6% 28px;
  }
}

/* обертка лого */

.page-footer__logo {
  width: 128px;
  height: 24px;
  margin: 0 auto 31px;

  @media (min-width: $tablet-width) {
    margin: 20px 0 0;
  }
}

/* обертка копирайта */

.page-footer__copyright {
  min-height: 78px;
  padding-top: 22px;
  padding-left: 6.25%;
  padding-right: 6.25%;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
