.products-item {
  padding-bottom: 25px;
  border-top: 1px solid $border-catalog;
}

.products-item__link {
  @include fonts(16px, 400, "Oswald");
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-green;
  border: none;
}
