.products {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin: 0 auto;
    padding-top: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
    margin: 0 auto;
    padding-top: 105px;
  }
}

/* показать еще */

.products__item {
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid $border-catalog;
  border-bottom: 1px solid $border-catalog;

  @media (min-width: $tablet-width) {
    width: 320px;
    margin-top: 77px;
    padding-top: 51px;
    border: 2px solid $basic-grey;

    &--more svg {
      width: 60px;
      height: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 241px;
    margin-top: 0;
    padding-top: 51px;
  }
}

/* заголовок */

.products__title-more {
  @include fonts(16px, 400, "Oswald");
  margin: 0 auto 8px;
  padding-top: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-more;

  @media (min-width: $tablet-width) {
    width: 150px;
    margin-bottom: 23px;
    padding-top: 46px;
    font-size: 20px;
    line-height: 22px;
  }
}

/* текст */

.products__text-more {
  @include fonts(12px, 400, "Arial");
  margin: 0 auto 21px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    width: 180px;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }
}

/* картинка */

.products__image {
  object-fit: contain;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -74px;
    left: 78px;
    width: 168px;
    height: 206px;

    &--small {
      top: -45px;
      left: 82px;
      width: 161px;
      height: 172px;
    }
  }

  @media (min-width: $desktop-width) {
    left: 40px;
    top: -80px;
    width: 172px;
    height: 200px;

    &--small {
      left: 45px;
      top: -52px;
      width: 161px;
      height: 172px;
    }
  }
}

/* кнопка */

.products__link-more {
  @include button;
  font-size: 16px;
  width: 87.75%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: $special-dark-grey;
  background-color: $basic-grey;

  &:hover,
  &:focus {
    background-color: $border-catalog;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 249px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}
