/* карточки */

.products-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 6.25%;
  margin-right: 6.25%;
  padding-bottom: 25px;
  border-top: 1px solid $border-catalog;
  outline: 2px solid rgba(200, 150, 50, 0.8);
  outline-offset: -3px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin: 74px 30px 57px;
    padding-bottom: 45px;
    background-color: $basic-grey;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 0 40px 133px;

    &:nth-child(6),
    &:nth-child(7) {
      margin-bottom: 0;
    }
  }
}

.products-item--last {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

/* блок с картинкой */

.products-item__preview {
  width: 138px;
  height: 144px;
  outline: 2px solid rgba(200, 100, 100, 0.8);
  outline-offset: -3px;

  @media (min-width: $tablet-width) {
    width: 324px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.products__image {
  /*вставить что-то мелкое на фон*/
  outline: 2px solid rgba(200, 150, 50, 0.8);
  outline-offset: -3px;
}

/* блок с описанием */

.products-item__information {
  width: 142px;
  padding-top: 19px;
  outline: 2px solid rgba(0, 100, 100, 0.8);
  outline-offset: -3px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: -140px;
    padding: 161px 12% 25px 12%;
  }

  @media (min-width: $desktop-width) {
    padding-right: 14%;
    padding-left: 16%;
  }
}

/* кнопка */

.products-item__link {
  @include button;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 9px;
  font-size: 16px;
  text-align: center;
  color: $basic-white;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    margin-left: 12%;
    margin-right: 11.4%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 16%;
    margin-right: 15.7%;
    padding-bottom: 10px;
  }
}
