/* карточки */

.products-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 6.25%;
  margin-right: 6.25%;
  padding-bottom: 25px;
  border-top: 1px solid $border-catalog;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin: 74px 30px 66px;
    padding-bottom: 40px;
    background-color: $basic-grey;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 0 40px 143px;

    &:nth-child(6),
    &:nth-child(7) {
      margin-bottom: 0;
    }
  }
}

.products-item--last {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

/* блок с картинкой */

.products-item__preview {
  width: 138px;
  height: 144px;
  box-sizing: border-box;

  &--first-item {
    padding-top: 33px;
    padding-left: 36px;
  }

  &--second-item {
    padding-top: 30px;
    padding-left: 28px;
  }

  &--third-item {
    padding-top: 46px;
    padding-left: 36px;
  }

  &--fourth-item {
    padding-top: 30px;
    padding-left: 28px;
  }

  &--fifth-item {
    padding-top: 49px;
    padding-left: 36px;
  }

  &--sixth-item {
    padding-top: 31px;
    padding-left: 28px;
  }

  &--seventh-item {
    padding-top: 43px;
    padding-left: 34px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 324px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

/* блок с описанием */

.products-item__information {
  width: 142px;
  padding-top: 19px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: -140px;
    padding: 157px 12% 25px 12%;
  }

  @media (min-width: $desktop-width) {
    padding-right: 14%;
    padding-left: 16%;
  }
}

/* кнопка */

.products-item__link {
  @include button;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 9px;
  font-size: 16px;
  text-align: center;
  color: $basic-white;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    margin-left: 12%;
    margin-right: 11.4%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 16%;
    margin-right: 15.7%;
    padding-bottom: 10px;
  }
}
