.promo {
  @media (min-width: $desktop-width) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 720px, rgba(104, 183, 56, 0.85) 694px), url("../../img/main/promo-background-desk.jpg");
    background-repeat: no-repeat;
    background-size: 720px 694px;
    background-position: right 0;
    /*а как его подвинуть вверх*/
  }
}

.promo__wrapper {
  padding-top: 27px;
  color: $basic-white;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 320px, rgba(104, 183, 56, 0.85) 302px), url("../../img/main/promo-background-mob.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  background-position: center 0;

  @media (min-width: $tablet-width) {
    width: 707px;
    margin: 0 auto;
    padding-left: 97px;
    padding-top: 50px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    width: 720px;
    margin: 0;
    padding-left: 190px;
  }
}

.promo__header {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.promo__title {
  margin: 0 auto 25px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include fonts(60px, 400);
    width: 420px;
    margin: 0 0 41px;
    line-height: 60px;
    text-align: left;
    color: $basic-black;
    order: 1;
  }
}

.promo__slogan {
  margin: 0 auto 27px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 400);
    margin: 0 0 49px;
    line-height: 20px;
    text-align: left;
    color: $basic-black;
    order: 2;
  }
}

.promo__image-wrapper {
  width: 280px;
  height: 271px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 709px;/*картинку поменять*/
    height: 609px;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    margin-left: 450px;
    margin-top: -200px;/*на глаз*/
  }
}

.promo__link {
  display: block;
  width: 280px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 244px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 20px;
    line-height: 20px;
    order: 3;
  }
}
