.promo {
  @media (min-width: $desktop-width) {
    margin-top: -132px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 720px, rgba(104, 183, 56, 0.85) 694px), url("../img/main/promo-background-desk@1x.jpg");
    background-repeat: no-repeat;
    background-size: 720px 694px;
    background-position: right 0;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85) 720px, rgba(104, 183, 56, 0.85) 694px), url("../img/main/promo-background-desk@2x.jpg");
      background-size: 720px 694px;
    }
  }
}

.promo__wrapper {
  padding-top: 27px;
  color: $basic-white;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 320px, rgba(104, 183, 56, 0.85) 302px), url("../img/main/promo-background-mob@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  background-position: center 0;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 320px, rgba(104, 183, 56, 0.85) 302px), url("../img/main/promo-background-mob@2x.jpg");
    background-size: 320px 302px;
  }

  @media (min-width: $tablet-width) {
    width: 707px;
    margin: 0 auto;
    padding-top: 54px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    width: 720px;
    height: 470px;
    margin: 0;
    padding-left: 104px;
    padding-top: 223px;
  }
}

.promo__header {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-left: 86px;
  }
}

.promo__title {
  @include fonts(36px, 400);
  margin: 0 auto 23px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include fonts(60px, 400);
    width: 420px;
    margin: 0 0 41px;
    line-height: 60px;
    text-align: left;
    color: $basic-black;
    order: 1;
  }
}

.promo__slogan {
  margin: 0 auto 27px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 400);
    margin: 0 0 49px;
    line-height: 20px;
    text-align: left;
    color: $basic-black;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.promo__image-wrapper {
  width: 280px;
  height: 271px;
  margin: 0 auto 2px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    margin: -83px 0 0 -88px;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    margin-left: 369px;
    margin-top: -367px;
  }
}

.promo__link {
  display: block;
  margin-left: 6.25%;
  margin-right: 6.25%;
  margin-bottom: 11px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 244px;
    margin: 0;
    margin-left: -5px;
    padding-top: 18px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
    order: 3;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
