.social__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-height: 63px;
  margin-left: 6.25%;
  margin-right: 6.25%;
  padding: 20px 76px 16px 73px;
  align-items: center;
  border-top: 1px solid $border-social;
  border-bottom: 1px solid $border-social;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 5px 0 38px;
    border: none;
  }
}

/* лишки соцсетей */

.social__item {
  margin: 0;
}

.social__item--vkontakte {
  margin-right: 36px;
}

.social__item--instagram {
  margin-right: 33px;
}
