.social__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-height: 63px;
  margin-left: 6.25%;
  margin-right: 6.25%;
  padding: 20px 76px 16px 73px;
  align-items: center;
  border-top: 1px solid $border-social;
  border-bottom: 1px solid $border-social;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 5px 0 30px;
    border: none;
  }
}

/* лишки соцсетей */

.social__item {
  margin: 0;
}

.social__item--vkontakte {
  margin-right: 36px;

  @media (min-width: $tablet-width) {
    margin-right: 25px;
  }
}

.social__item--instagram {
  margin-right: 34px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

/* ссылки */

.social__link-vkontakte {
  fill: $special-medium-grey;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__link-instagram {
  fill: $special-medium-grey;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__link-facebook {
  fill: none;
  stroke: $special-medium-grey;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 27px;
  }
}

/* действие */

.social__link:hover .social__link-facebook,
.social__link:focus .social__link-facebook {
  stroke: $basic-green;
}

.social__link:hover .social__link-vkontakte,
.social__link:hover .social__link-instagram,
.social__link:focus .social__link-vkontakte,
.social__link:focus .social__link-instagram {
  fill: $basic-green;
}

.social__link:active .social__link-vkontakte,
.social__link:active .social__link-instagram,
.social__link:active .social__link-facebook {
  opacity: 0.3;
}
