// Colors

$basic-white: #ffffff;
$basic-green: #68b738;
$basic-dark-green: #5eaa2f;
$basic-grey: #f2f2f2;
$basic-black: #000000;
$special-grey: #cdcdcd;
$special-cats: #eaeaea;
$special-medium-grey: #666666;
$special-dark-grey: #444444;
$special-super-grey: #222222;
$special-more: #111111;
$status-error: #ff8282;
$border-social: #d9d9d9;
$border-logo: #e6e6e6;
$border-input: #e7e7e7;
$border-catalog: #ebebeb;
$border-goods: #cdcdcd;
$border-range: #dcdcdc;
$button-active: rgba(255, 255, 255, 0.3);


// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
